:root{
    --primary:#ffffff;
    --secondary:#011526;
    --acent:#F2BE3F;  
    --texto: #2b2a2a;
    --desc: #3a3a3a;
    --shadow:#bebabab0;
    --succes: #56f5b3;
    --danger:#fc6161cc;
    --warning:#fdf074;
  
  }