:root{
    --primary:#ffffff;
    --secondary:#2770E8;
    --acent: #c6ebff;
    --texto: #2b2a2a;
    --desc: #3a3a3a;
    --shadow:#bebabab0;
    --succes: #02E6BF;
    --danger:#F54C4C;
    --warning:#FFBF1C;
  
  }